//Importamos las fuentes a utilizar

@font-face {
    font-family: 'Neogrotesk Ess';
    src: url(/src/fonts/Fontspring-DEMO-neogroteskess-regular.otf) format('opentype');
}

@font-face {
    font-family: 'Filson Pro';
    src: url(/src/fonts/FilsonProRegular.otf) format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');