//Definimos Variables a utilizar en Sass

//Fonts
$font-neogrotesk-ess: "Neogrotesk Ess";
$font-filson-pro: "Filson Pro";
$desktop-h2-desktop: "Abhaya Libre";

//Colores

$white: #fff;
$primary-palette-brand-2: #efa693;
$gray-paragraph: #939393;
$body-titles: #444950;
$primary-palette-brand-2-pale: #ffdcd3;
$primary-palette-brand-5: #ffc658;
$blue-decor: #caf0ff;